@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Galmuri9', sans-serif;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

#wrapper{
  display: flex;
  justify-content: center;
  gap:40px;
  margin-top: 50px;
}

.gameTxt {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  gap: 40px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  color:#fff;
  font-size: 50px;
  backdrop-filter: blur(2px);
}

.gameTxtOver > button {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  color: #fff;
  background: #8276F4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.gameTxtStart {
  display: flex;
}

header h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

header div {
  margin-bottom: 20px;
}

header div .article {
  text-align: center;
  font-size: 36px;
}

header #desc {
  font-size: 20px;
}

header #desc span {
  border: 2px solid black;
  padding: 5px;
}

.playGround > ul {
  width: 250px;
  margin: 0 auto;
}

.playGround > ul > li { /* 세로줄 */
  width: 100%;
  height: 25px;
}

.playGround > ul > li > ul { /* 가로줄 */
  display: flex;
}

.playGround > ul > li > ul > li { /* 가로줄 안의 네모칸*/
  width: 25px;
  height: 25px;
  outline: 1px solid #eee;
}

.square {
  background: #61BCFF;
}
.bar {
  background: #ff6f85;
}
.tree {
  background: #D980FA;
}
.zeeLeft {
  background: #ffaf40;
}
.zeeRight {
  background: #fff200;
}
.elLeft {
  background: #fdb1b1;
}
.elRight {
  background: #3ae374;
}